.auth__card {
    position: absolute;
    right:45rem;
    top: 10rem;

    width:40rem;
    height:40rem;
    display: inline-block;
    text-align: center;
    background: $color-white;
    border-radius: 100%;

}

.auth__card-text{
    margin-top: 10rem;
}

.newpaint__card{
    display: inline-block;
    text-align: center;
    background: #fff;
    position: absolute;
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    top:17rem;
    right: 53rem;
    padding: 5rem;
    

    
    
}

.sendpaint__card{
    display: inline-block;
    text-align: center;
    background: #fff;
    position: absolute;
    width: 20rem;
    height: 28rem;
    border-radius: 5%;
    top:17rem;
    right: 53rem;
    padding: 5rem;
}

.updatepaint__card{
    display:inline-block;
    text-align: center;
    background: #fff;
    width: 20rem;
    height:28rem;
    border-radius: 5%;

}

.sentpaint__card{
    display:inline-block;
    text-align: center;
    background: #fff;
    width: 20rem;
    height:19rem;
    border-radius: 5%;
    position: relative;
    margin: 5rem 56rem;
}

.sentpaint__card-text{}